
<h1>Create a Puppy</h1>
<form action="/new" method="post">
  Name: <input type="text" name="name"><br><br>
  Bree: <input type="text" name="breed"><br><br>
  Age: <input type="number" name="age"><br><br>
  <input type="submit" value="submit" name="Create Puppy"><br>
</form>
