<h2>Create a Puppy</h2>
<form action="/" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Breed :<input type="text" name="breed"></p>
  <p>Age: <input type="text" name="age"></p>
  <input id="submit" type="submit" name="submit">
</form>
