
<html>
<p>What kinda of dog do you have</p>

  <form method="POST" action="/puppys">

  <p>Puppy name: <input type="text" placeholder="name" name="name"></p>
  <p>Puppy breed: <input type="text" placeholder="breed "name="breed"></p>
  <p>Puppy age: <input type="text" placeholder="age" name="age"></p>

  <input type="submit" id="submit">
  </form>

</html>
