<form method="post" action="/display_puppy">
  <p> Enter your puppy: </p>
  <text> Name: <input type = "text" name = "name" placeholder = "name" ></text>
  <text> Breed: <input type = "text" name = "breed" placeholder = "breed" > </text>
  <text> Age: <input type = "text" name = "age" placeholder = "age" > </text>
  <br>
  <input type="submit" value="submit">Submit</button>
</form>
