<form class="class" action="/" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="breed" placeholder="Breed">
  <input type="number" name="age" placeholder="Age">
  <input type="submit" value="submit">
</form>
