<form action="/display_puppy" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="breed" placeholder="breed">
  <input type="text" name="age" placeholder="age">
  <input type="submit" name="submit" id='submit'>Submit</>
</form>
