

<!-- here is where i send them after -->

<h1>The puppy you just added</h1>

<p>Puppy Name: <%= @new_puppy.name %></p>
<p>Puppy Breed: <%= @new_puppy.breed %></p>
<p>Puppy Age: <%= @new_puppy.age %></p>
