<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <p>Puppy Name:</p>
    <p><%= "#{@new_puppy.name}" %></p>
    <p>Puppy Breed:</p> 
    <p><%= "#{@new_puppy.breed}" %></p>
    <p>Puppy Age:</p> 
    <p><%= "#{@new_puppy.age}" %></p>

  </body>
</html>